# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Python
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Reflex specific
.web
.states

# Local data and config
.DS_Store
.env
uploaded_files/
keys/
logs/

# README
README.md